@{
    ViewBag.Title = "Home Page";
}

<h1>ASP.NET</h1>
<p>Test deploy</p>
<p>web.config transformed connection string is @ViewBag.connectionString</p>

<p>original is:Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication3-20150311112537.mdf;Initial Catalog=aspnet-WebApplication3-20150311112537;Integrated Security=True</p>